## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/Weather_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
0,0,Buala,-8.1450,159.5921,77.41,87,100,3.04,SB,2022-04-01 21:12:03,overcast clouds
1,1,Nikolskoye,59.7035,30.7861,28.71,95,75,2.86,RU,2022-04-01 21:12:04,broken clouds
2,2,Cape Town,-33.9258,18.4232,65.12,71,0,5.99,ZA,2022-04-01 21:10:40,clear sky
3,3,Bredasdorp,-34.5322,20.0403,63.84,73,93,12.30,ZA,2022-04-01 21:12:42,light rain
4,4,Atuona,-9.8000,-139.0333,78.64,78,24,7.61,PF,2022-04-01 21:12:01,few clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the nminimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the nminimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [5]:
# # 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
#                                        (city_data_df["Max Temp"] >= min_temp)]
# preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
0,0,Buala,-8.1450,159.5921,77.41,87,100,3.04,SB,2022-04-01 21:12:03,overcast clouds
4,4,Atuona,-9.8000,-139.0333,78.64,78,24,7.61,PF,2022-04-01 21:12:01,few clouds
14,14,Avarua,-21.2078,-159.7750,84.25,74,83,10.36,CK,2022-04-01 21:12:09,broken clouds
22,22,Olinda,-8.0089,-34.8553,83.93,70,75,8.05,BR,2022-04-01 21:12:13,broken clouds
25,25,Illela,13.7292,5.2975,84.45,8,7,2.91,NG,2022-04-01 21:12:14,clear sky
28,28,Manaure,11.7751,-72.4445,88.05,51,97,16.60,CO,2022-04-01 21:12:16,overcast clouds
32,32,Arlit,18.7369,7.3853,87.93,3,100,8.30,NE,2022-04-01 21:12:17,overcast clouds
35,35,Rikitea,-23.1203,-134.9692,75.60,54,45,14.03,PF,2022-04-01 21:12:18,scattered clouds
36,36,Miraflores,19.2167,-98.8083,84.02,14,74,8.46,MX,2022-04-01 21:12:19,broken clouds
38,38,Fernandina Beach,30.6697,-81.4626,85.01,57,0,10.36,US,2022-04-01 21:12:20,clear sky

In [7]:
# # 4a. Determine if there are any empty rows.
# preferred_cities_df.isnull().sum()

City_ID        0
City           0
Lat            0
Lng            0
Max Temp       0
Humidity       0
Cloudiness     0
Wind Speed     0
Country        0
Date           0
Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
#N/A

In [8]:
# # 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
# hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# # 5b. Create a new column "Hotel Name"
# hotel_df["Hotel Name"] = ""
# hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Buala,SB,77.41,overcast clouds,-8.1450,159.5921,
4,Atuona,PF,78.64,few clouds,-9.8000,-139.0333,
14,Avarua,CK,84.25,broken clouds,-21.2078,-159.7750,
22,Olinda,BR,83.93,broken clouds,-8.0089,-34.8553,
25,Illela,NG,84.45,clear sky,13.7292,5.2975,
28,Manaure,CO,88.05,overcast clouds,11.7751,-72.4445,
32,Arlit,NE,87.93,overcast clouds,18.7369,7.3853,
35,Rikitea,PF,75.60,scattered clouds,-23.1203,-134.9692,
36,Miraflores,MX,84.02,broken clouds,19.2167,-98.8083,
38,Fernandina Beach,US,85.01,clear sky,30.6697,-81.4626,

In [10]:
# # 6a. Set parameters to search for hotels with 5000 meters.
# params = {
#     "radius": 5000,
#     "type": "lodging",
#     "key": g_key
# }

# # 6b. Iterate through the hotel DataFrame.
# for index, row in hotel_df.iterrows():
#     # 6c. Get latitude and longitude from DataFrame
#     Lat = row["Lat"]
#     Lng = row["Lng"]
    
#     params["location"] = f"{Lat},{Lng}"
    
#     # 6d. Set up the base URL for the Google Directions API to get JSON data.
#     base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#     # 6e. Make request and retrieve the JSON data from the search. 
#     hotels = requests.get(base_url, params=params).json()
    
#     # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
#     try:
#         hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
#         print(hotels["results"][0]["name"])
#     except (IndexError):
#         print("Hotel not found. Skipping.")

Maringe Lagoon Lodge
Villa Enata
Paradise Inn
Flat Quatro Rodas Olinda
Hotel not found. Skipping.
Hotel Palaaima
Case de Passage De la Prefecture
People ThankYou
Hotel Mansión
Hampton Inn Amelia Island at Fernandina Beach
Villa Park Hotel | Natal
Hilo Hawaiian Hotel
Pousada Porto Praia
Suan Palm Garden View Hotel
Hôtel Le Dronmi
Uruna Bay Retreat
Pirineos
ibis Styles Karratha
The Ritz-Carlton, Half Moon Bay
Nusa Island Retreat
Keleti Beach Resort
Mystic Sands Beachfront Accommodation
Pousada dos Navegantes
Sheraton Kauai Coconut Beach Resort
Lorengau Harbourside Hotel
Suncity Resort Lataguri
Bore Nada Guest House
Holiday Inn Express Guaymas, an IHG Hotel
Le Gîte d’Iracoubo
Scoop Guest House
Shandrani Beachcomber Resort & Spa
Hotel Narayan Avezika Comfort
Hotel Mpampa
Hotel Bocas del Toro
JABIR HOTEL
Bungalow 63
Days Inn Adelanto-Victorville
Carlsbad Inn Beach Resort
Jebinrio home
Casa Tia Villa
Pousada Monte Carmelo O Pão
Isles Sunset Lodge
Bonthe Holiday Village
Best Western Plus Abbey Inn
Motel 6 Sinton, TX
Kampung Seri Makmor Pagoh
Niyama Private Islands Maldives
Maui Seaside Hotel
HS Hotsson Smart Acapulco
Atlantis Hotel
Charles Motel
Cossam Guest House
Hotel Vitória Palace
Salinas Park Resort Maçarico AP101
Iberotel Luxor
Caserna
DoubleFAG
Austral Hotel
Hotel Praia Morena
INN CORNER RIVER - PRADO - BAHIA - HOUSING AND HOTEL
Movenpick Hotel Doha
Finch Bay Galapagos Hotel
Cititel Penang
Hotel not found. Skipping.
Swiss Belhotel Manokwari
Balandra Hotel
Hotel Saigon-PT
Bora-Bora Pearl Beach Resort & Spa
Osprey Beach Hotel
SanBiz Lodge
Lahaina Shores Beach Resort
Kost Pria
Dellrey Hotel Center
Swiss-Belhotel Ambon
Nuli Sapi
Haajy Guest House 1
Cáliz Hostel Chazuta
Crôa Mares Hotel
Sunrise Attitude Hotel
Kasakchiya Luxury Suites
Mom's Place Resort
Hotel not found. Skipping.
Pension Oaoa
INN NEW HORIZON
Shanti Maurice Resort & Spa
Grage Hotel Bengkulu
HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel
Floresta Amazonica Hotel
Hotel Tesoro Los Cabos
Capital O 66968 Haveli The Landmark
فندق ميس إيجيبت Miss Egypt Hotel
Taloa Heights
Lords Inn Somnath
Résidence ARCHANGE
Kashmiri Hotal
SEGAYA PROPERTY
Pousada Porto De Canoas
Hotel not found. Skipping.
Leonardo Family Beach House 1
Datta mandir ward
The Esplanade Hotel (Accommodation section closed for refurbishment - Bar, Restaurant & Functions remain open)
Base Lodging
Lindsay Inn
Mondkor Town, Bagbo Chiefdom, Bo District
Whispering Bamboo Cove Resort
Omadhoo Inn
Sherwood Motel
Rio Xingu Camping
Foyer ADM
Pathein Hotel
Heritage Park Hotel
Iftin hotel hobyo
Aldea del Bazar Hotel and Spa
Auki Motel
Hampton Inn & Suites Brenham
castelo pizzaria
Oceano
Jaflo Gardens Hotel
Laureles
Fengshui Residence
Via Norte Hotel
Hotel not found. Skipping.
Humacao Bed & Breakfast
Hotel not found. Skipping.
Agan-Hotel
Waigo Splash Hotel
Lamu House
Hotel El Recreo
Hotel Costa Marina
Suites Las Palmas
RUSTANTO Fam
Hotel Grand Barrack
Seagulls Inn Namatani
Hotel not found. Skipping.
ProDAF/Diffa
Htarwaya Thitsar Guest House
Khách sạn Sài Gòn Bạc Liêu
Casa do Ian😎
Tang Dynasty Lodge Kota Belud
Hotel not found. Skipping.
Courtyard by Marriott Jacksonville Beach Oceanfront
Hotel not found. Skipping.
Gateway Studio Suites
Quinta Belem
Radisson Grenada Beach Resort
فندق يوغسلافيا
Nuba Nile
OYO 3271 Homestay Pandian
hotêl doufoulougou
HOTEL SARON
Pousada Beija Flor
Iglesia morava renovada
Queen s Hotel
Veranda Paul et Virginie Hotel & Spa
The Hamsa Resort
Pin Drop Hotel
Hotel not found. Skipping.
Hotel The Royal Honours
Hotel not found. Skipping.
Bela vista Maranguape
El Salvial
Sea Lounge! Bar, Club & Restaurant
Hotel not found. Skipping.
Hotel not found. Skipping.
Restaurant Greedy Coco Lodge Majunga
Aditya patel
Hotel Joshi
Hotel Manglares
Hasanur Builders
Moonlight Hotel
Hotel not found. Skipping.
Hotels in Lakshadweep Islands
CHACHA BHATIJA AAMLET CENTAR
Bukhari hotl
Hotel Ponta Verde Maceió
Imagination Island
Holiday Inn Express & Suites Beeville, an IHG Hotel
सहारण भवन
Makkah Clock Royal Tower, A Fairmont Hotel
Conrad Bora Bora Nui
Hotel Sinaí
Hotel not found. Skipping.
Sinya on Lone Man Creek
Guest House HESADA
Hosteria Sampedro
Motel 6 Santa Ana, CA
Hotel Ambulu Jember
OYO 598 Peony Hotel
The Bannister - Hotel & Yacht Club
दुर्गा टेंट हाऊस
Debright Motel
Hotel not found. Skipping.

In [1]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.isnull().sum()

NameError: name 'hotel_df' is not defined

In [17]:
# # 8a. Create the output File (CSV)
# output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# # 8b. Export the City_Data into a csv
# hotel_df.to_csv(output_data_file, index_label="City_ID")

In [5]:
hotel_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
hotel_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Buala,SB,77.41,overcast clouds,-8.1450,159.5921,Maringe Lagoon Lodge
1,4,Atuona,PF,78.64,few clouds,-9.8000,-139.0333,Villa Enata
2,14,Avarua,CK,84.25,broken clouds,-21.2078,-159.7750,Paradise Inn
3,22,Olinda,BR,83.93,broken clouds,-8.0089,-34.8553,Flat Quatro Rodas Olinda
4,25,Illela,NG,84.45,clear sky,13.7292,5.2975,NaN
...,...,...,...,...,...,...,...,...
187,666,Cam Ranh,VN,76.96,few clouds,11.9214,109.1591,OYO 598 Peony Hotel
188,670,Samana,DO,84.42,few clouds,19.2056,-69.3369,The Bannister - Hotel & Yacht Club
189,671,Mandalgarh,IN,77.23,clear sky,25.2000,75.1000,दुर्गा टेंट हाऊस
190,672,Jalingo,NG,85.37,overcast clouds,8.8833,11.3667,Debright Motel
191,674,Tessalit,ML,85.93,overcast clouds,20.1986,1.0114,NaN

In [7]:
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Buala,SB,77.41,overcast clouds,-8.1450,159.5921,Maringe Lagoon Lodge
1,4,Atuona,PF,78.64,few clouds,-9.8000,-139.0333,Villa Enata
2,14,Avarua,CK,84.25,broken clouds,-21.2078,-159.7750,Paradise Inn
3,22,Olinda,BR,83.93,broken clouds,-8.0089,-34.8553,Flat Quatro Rodas Olinda
5,28,Manaure,CO,88.05,overcast clouds,11.7751,-72.4445,Hotel Palaaima
...,...,...,...,...,...,...,...,...
186,660,Ambulu,ID,75.72,overcast clouds,-8.3450,113.6058,Hotel Ambulu Jember
187,666,Cam Ranh,VN,76.96,few clouds,11.9214,109.1591,OYO 598 Peony Hotel
188,670,Samana,DO,84.42,few clouds,19.2056,-69.3369,The Bannister - Hotel & Yacht Club
189,671,Mandalgarh,IN,77.23,clear sky,25.2000,75.1000,दुर्गा टेंट हाऊस
190,672,Jalingo,NG,85.37,overcast clouds,8.8833,11.3667,Debright Motel

In [8]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [9]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))